
.bars {
    height: 25px;
    width: 80%;
    margin: 0 auto 10px;
    line-height: 25px;
    font-size: 80%;
    color: #f1c40f;
    padding: 0 0 0 10px;
    position: relative;
    text-align: left;
}

h4 {
    margin: 10px;
}

.barContainer {
    width: 100%;
    /* position: absolute; */
    /* left: 0; */
    height: 25px;
    /* top: 0; */
    z-index: -2;
    background: rgba(45,45,45, 0.2);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bar {
    width: 100%;
    position: absolute;
    left: 0;
    height: 25px;
    top: 0;
    background: rgb(45,45,45);
    /* display: block; */
    z-index: -1;
    animation: animate 4s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


@keyframes animate {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}