.navItems {
    margin: -3px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media (max-width: 480px) and (orientation: portrait),
        (max-width: 812px) and (orientation: landscape) {
    .navItems {
        margin: 0;
        flex-flow: column;
    }
}

/* @media (max-width: 812px) and (orientation: landscape) {
    .navItems {
        margin: 0;
        flex-flow: column;
    }
} */

