.navItems {
    margin: -3px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

@media (max-width: 500px) {
    .navItems {
        margin: 0;
        flex-flow: column;
    }
}

