.toolbar {
    font-size: 90%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 3px 0 20px;
    z-index: 90;
}

.mobileOnly {
    font-size: 120%;    
    cursor: pointer;
    text-align: left;
    padding: 10px;
}

.deskTopOnly {
    width: 40%;
    position: fixed;
    left: 0;
}

@media (min-width: 500px) {
    .mobileOnly {
        display: none;
    }
}

.toolbar nav {
    height: 100%;
}

@media (max-width: 500px) {
    .desktopOnly {
        display: none;
    }
}