.button {
    display: inline-block;
    padding: 10px 30px;
    margin-left: auto;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: all 0.2s;
    background-color: #3498db;
    border: 1px solid #3498db;
    color: #fff;
}

.button:hover {
    background-color: #2980b9;
    border: 1px solid #2980b9;
}