
.content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    font-size: 80%;
    font-style: italic;
    display: inline-block;
}

.content p {
    text-align: left;
}



.icons {
    font-size: 50px;
}


