.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../assets/img/laptop.jpg'); 
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.content {
    width: 60%;
    margin: 0 35%;
    padding: 30px;
}

.home h1{
    color: #f1c40f;
    margin-top: 50px;
    line-height: 100%;
}

.home h2{
    color: whitesmoke;
    font-style: italic;
    font-weight: 300;
}

.home p{
    color: red;
}

.icons {
    color: rgba(255, 255, 255, 0.3);
    font-size: 60px;
    transition: all 0.3s;
}

.content img {
    border-radius: 50%;
    border: 3px solid #f1c40f;
    height: 200px;
    width: 200px;
    padding: 5px;
}

.git:hover {
    color: #000;
}

.linkedin:hover {
    color: #0077B5;
}

.facebook:hover{
    color: #4267B2;
}

@media (max-width: 500px) {
    .home p {
        font-size: 0.8em;
    }
    .home h1 {
        font-size: 1.3em;
    }
    .home h2 {
        font-size: 1em;
    }
    .home img {
        height: 80%;
        width: 80%;
    }
    .icons {
        font-size: 160%;
    }
}


