body {
    margin: 0;
    font-family: Lato, -apple-system, sans-serif;
    font-size: 25px;
    background-color: #2980b9;
    line-height: 140%;
    word-spacing: 2px;
    background-image: linear-gradient(rgba(125, 125, 125, 0.9), rgba(225, 225, 225, 1)), url('assets/img/background.jpg'); 
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
}

*:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}

/* targeting about, skills, work, contact. */
section {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    width: 90%;
    margin: 0 auto;
}

h2 {
    color: #f1c40f;
    /* padding: 15px; */
}

@media(max-width: 500px) {
    h2 {
        font-size: 1.1em;
    } 

    h4,
    p {
        font-size: 0.8em;
    }

}

