
body {
    margin: 0;
    font-family: Lato, -apple-system, sans-serif;
    font-size: 25px;
    line-height: 140%;
    word-spacing: 2px;
    background-image: linear-gradient(rgba(125, 125, 125, 0.9), rgba(225, 225, 225, 1)), url('assets/img/background.jpg'); 
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
}

*:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}

/* targeting about, skills, work, contact. */
section {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #f1c40f;
    text-transform: uppercase;
}


/**** MEDIA QUERIES ****/
@media (max-width: 480px) and (orientation : portrait) {
    body {
        background-image: linear-gradient(rgba(125, 125, 125, 0.9), rgba(225, 225, 225, 1)); 
        background-color: #95a5a6;
    }

    h2 {
        font-size: 1.1em;
    } 

    h4, p {
        font-size: 0.8em;
    }
}

@media (max-width: 815px) and (orientation : landscape) {
    body {
        background-image: linear-gradient(rgba(125, 125, 125, 0.9), rgba(225, 225, 225, 1)); 
        background-color: #95a5a6;
    }
}
